/*La ultima parte que es la del footer*/

footer {
    background-color: #1a1d24;

}
footer .last-footer {
    display: flex;
    background-color: #1a1d24;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}
footer svg{
    width: 20px;
    height: 20px;
    fill: white;
}
footer .name-and-copyright {
    display: block;
    color: gray;
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}
footer .name-and-copyright img {
    padding-bottom: 25px;
}
footer .list-movies {
    display: block;
}

.list-movies h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-bottom: 25px;

} 
.list-movies h3::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 1px;
    width: 48px;
    top: -5px;
    left: 12px;
    background-color: red;
}
footer .list-movies li{
    padding-bottom: 25px;
    color: gray;
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}
footer .additional-links h3{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-bottom: 25px;
}
footer .additional-links h3::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 1px;
    width: 48px;
    top: -5px;
    left: 12px;
    background-color: red;
}
footer .additional-links li{
    padding-bottom: 25px;
    color: gray;
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}
footer .newsletter {
    padding-bottom: 25px;
}
.newsletter h3{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.newsletter h3::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 1px;
    width: 48px;
    top: -5px;
    left: 12px;
    background-color: red;
}
.newsletter h3,
.newsletter div {
    padding-bottom: 25px;
}
.newsletter div input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.newsletter svg {
    position: relative;
    top: 6px;
}
.newsletter .social-network{
    display: flex;
    justify-content: space-between;
}