/*Inicio de la hoja de estilos con el header*/
header {
    font-family: var(--primary-font), sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1a1d24;
    color: var(--primary-color);
    fill: var(--primary-color);
    max-width: 1200px;
    margin: 0 auto;
    margin-inline: auto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding-bottom: 20px;
}

.bg-main {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .main-menu ul, 
.header .tools-menu, 
.header .tools-menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header .main-menu ul li a {
    position: relative;
}
.header .main-menu ul li a::after{
    position: absolute;
    display: flex;
    width: 0;
    content: "";
    transition:  0.3s ease;
    transform-origin: left;
    height: 1px;
    background-color: var(--terciary-color);
}
.header .main-menu ul li a:hover{
    cursor: pointer;
}
.header .main-menu ul li a:hover::after {
    cursor: pointer;
    display: flex;
    width: 100%;   
}

.header svg {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    &:hover{
        cursor: pointer;
        fill: var(--terciary-color);
    }
}