/* A partir de esta parte vamos con las citas y opiniones*/

.quotes {
    position: relative;
    background-color: var(--background-quotes-color);
    padding-top: 150px;
    padding-bottom: 150px;
    bottom:30px;
}
.container-quotes {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin-inline: auto;
    gap: 40px;
    overflow: hidden;
    
}
.personquote{
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 385px;
}
.personquote img {
    bottom: 50px;
    border-radius: 50%;
    justify-items: center;
    margin-bottom: 10px;
}
.personquote .img-person{
    position: relative;
}
.personquote .img-person::before{
    content: "";
    background-image: url("./quotes_icon-icons.com_71111.svg");
    background-size: cover;
    background-color: var(--primary-color);
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%) ;
    z-index: 1;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.personquote .sentence p:first-child {
    bottom: 25px;
    margin-bottom: 10px;
    font-family: var(--terciary-font), sans-serif;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 23px;

}
.personquote .sentence {
    color: var(--primary-color);
    margin-bottom: 10px;
    bottom: -5px;
    font-family: var(--primary-font), sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;

}

.personquote span{
    color: var(--other-color);
    font-weight: bold;
    font-size: 12px;
    bottom: -7px;
}